@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-200;
}